<div class='margin-padded-space text-center movie-title'>
  <h1>Listing Movies</h1>
</div>

<%= render partial: 'pages/movies', locals: { movies: @movies } %>

<div class="clearfix"></div>

<div class='text-center'>
  <%= paginate @movies %>
</div>
