@import "bootstrap-sprockets";
@import "bootstrap";

.devise-heading {
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}

.links {
  font-size: 14px;
  text-align: center;
}

body {
  padding-top: 10px;
  padding-bottom: 25px;
}

.form-devise {
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}

.margin-padded-space {
  padding: 6px;
  margin-bottom: 6px;
  margin-top:10px;
}

.site-title {
  font-weight: bold;
  font-size: 32px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
  color: #444;
  background-color: #DDD;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  color: #474444;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #474444;
}

h3 {
  font-weight: bold;
  font-size: 20px;
  color: #474444;
}

h4 {
  font-weight: bold;
  font-size: 18px;
  color: #474444;
}

strong {
  font-weight: bold;
  font-size: 16px;
  color: #474444;
}

.header-content {
  margin-top: 0.1px;
}

.navbar-inverse {
  font-weight: bold;
}

.movie-img {
  display: table;
  margin: auto;
}

.movie-title {
  color: #565656;
}

.button {
  margin-top: 6px;
  margin-bottom: 6px;
}

.movie-heading {
  color: #073601;
}

.movie-description {
  padding-top: 20px;
}

.element-padding {
  padding-left: 14px;
}

.breadcrumb-padding {
  margin-left: 14px;
}

.heading-space {
  padding-bottom: 40px;
}

body {
  background-color: #575656;
}

.container {
  padding-top: 10px;
  background-color: white;
}

.page-header {
  background-color: white;
  margin-bottom: 14px;
  padding-bottom: 0px;
  border-bottom: 0px;
}

.notice-content {
  max-width: 450px;
  margin: 0 auto;
}

.reviews-space {
  padding-top: 20px;
  padding-left: 14px;
}

.movie-poster-container {
  width: 300px;
}

.movie-poster-container img {
  width: 300px;
}

.review-box {
  width: 66%;
}

.review-options {
  padding-left: 200px;
}

.review-msg-space {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-review {
  padding-left: 6px;
}

.user-review {
  padding-left: 0px;
}

.review-owner-options {
  padding-left: 159px;
}

.report-sub-msg {
  display: none;
  color: red;
}
